<!DOCTYPE html>
<html ng-app="Bookish">
  <head>
      <link rel="stylesheet" href="bookish.css">
  </head>
  <body ng-controller="MainCtrl">
          <nav>
            <ul>
                <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                    <a href="#" ng-click="setCurrentCategory(category)">{{ category.name }}</a>
                </li>
            </ul>
          </nav>
          <h1>Books</h1>
          <ul>
              <li ng-repeat="book in books | filter:{category:currentCategory.name}">{{ book.title }}</li>
          </ul>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
      <script src="app/bookish.js"></script>
  </body>
</html>